.my-page-container {
  display: flex;
  justify-content: center;
  max-width: 80vw;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
}

.my-page-content {
  display: flex;
  width: 100%;
  gap: 20px;
}

.my-page-user-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.my-page-user-info-table th,
.my-page-user-info-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.my-page-user-info-table th {
  background-color: #f6ecf8;
  font-weight: bold;
}

.my-page-left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.my-page-right-section {
  flex: 7;
  padding: 50px;
}

.my-page-right-section h2 {
  text-align: left;
}

.my-page-profile-image-section {
  text-align: center;
}

.my-page-profile-image-container {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

.my-page-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-page-action-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-end;
  gap: 20px;
}

.my-page-top-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.my-page-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: auto;
}

.my-page-btn-edit {
  background-color: white;
  border-radius: 10px;
  color: purple;
  border: 2px solid purple;
}

.my-page-btn-save {
  background-color: white;
  color: purple;
  border: 2px solid purple;
}

.my-page-btn-delete {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.my-page-address-prompt {
  color: blue;
  font-weight: bold;
}

.my-page-button:hover {
  transform: scale(0.9)
}

.my-page-profile-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.ticket-list {
  margin-top: 20px;
  min-height: 30vh;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
