.mypage-container {
  display: flex;
  justify-content: center;
  max-width: 80vw;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
}

.mypage-content {
  display: flex;
  width: 100%;
  gap: 20px;
}

.mypage-user-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.mypage-user-info-table th,
.mypage-user-info-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.mypage-user-info-table th {
  background-color: #f6ecf8;
  font-weight: bold;
}

.mypage-left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.mypage-right-section {
  flex: 7;
  padding: 50px;
}

.mypage-right-section h2 {
  text-align: left;
}

.mypage-profile-image-section {
  text-align: center;
}

.mypage-profile-image-container {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

.mypage-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mypage-edit-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.mypage-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: auto;
}

.mypage-btn-edit {
  background-color: white;
  border-radius: 10px;
  color: purple;
  border: 2px solid purple;
}

.mypage-btn-save {
  background-color: white;
  color: purple;
  border: 2px solid purple;
}

.mypage-btn-delete {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.mypage-address-prompt {
  color: blue;
  font-weight: bold;
}

.mypage-button:hover {
  transform: scale(0.9);
}

.mypage-profile-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.ticket-list {
  margin-top: 20px;
  height: 40vh;
  overflow-y: auto;
  padding: 5px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ticket-card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
}

.ticket-card:hover{
  background-color: #ddd;
}

.loader-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.loader {
  border: 8px solid #f0f0f0; 
  border-top: 8px solid purple; 
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  animation: spin 2s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}